.post-content p,
.post-content ul,
.post-content ol {
  font-size: 1rem;
  line-height: 1.75em;
  margin: 1.2em 0;
}

@media (max-width: 480px) {
  .post-content p,
  .post-content ul,
  .post-content ol {
    font-size: 1.2rem;
    margin: 1em 0;
  }
}
