---
layout: page
---
<link href="{{ site.url }}/assets/css/gallery.css" rel="stylesheet">
<!-- <link href="{{ site.url }}/assets/blueimp-gallery/css/blueimp-exception.css" rel="stylesheet"> -->
<link href="{{ site.url }}/assets/blueimp-gallery/css/blueimp-gallery.min.css" rel="stylesheet">
<div class="gallery" id="gallery-album-list">
  <ul class="card-list">
    {% for item in page.media %}
    <li class="card">
      <a class="card-image" href="{{ site.url }}{{ album.url }}" target="_blank" style="background-image: url({{ site.url }}/assets/gallery/cover/{{ item }});"
        data-image-full="{{ site.url }}/assets/gallery/original/{{ item }}">
        <img src="{{ site.url }}/assets/gallery/cover/{{ item }}" alt="{{ item }}" />
      </a>
      <a class="card-description" href="{{ site.url }}{{ item }}" target="_blank">
        <h2>{{ item }}</h2>
        <p>{{ forloop.index }}</p>
      </a>
    </li>
    {% endif %}
  </ul>
</div>
{% include gallery_lightbox.html %}
<script src="{{ site.url }}/assets/blueimp-gallery/js/vendor/jquery.js"></script>
<script src="{{ site.url }}/assets/blueimp-gallery/js/blueimp-gallery.min.js"></script>
<script src="{{ site.url }}/assets/blueimp-gallery/js/blueimp-binding.js"></script>
<script type="text/javascript">
	bindGalleryEventById('gallery-album-list');
</script>
