---
layout: null
---
<!DOCTYPE html>
<html>
    {% if page.lang == 'en' %}
        {% assign resume = site.data.resume.en %}
    {% else %}
        {% assign resume = site.data.resume.zh %}
    {% endif %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ resume.title }}</title>
    <meta name="description" content="Description">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/ljt/assets/styles/common.css">
    <link rel="stylesheet" href="/ljt/assets/styles/resume.css">
    <!-- <script src="https://caveops.com/static/packages/freedom/1.0.0/freedom.min.js"></script> -->

    {% include favicon.html %}
</head>

<body>
    <div class="container">

        <!-- navigation -->
        <nav class="navigation">
            <a href="/" class="logo">
                <img src="/ljt/assets/logo.svg" alt="HOME">
            </a>
            <div class="menu">
                {% for item in resume.menu %}
                <a href="{{ item.href }}" class="menu-item" target="{{ item.target }}">{{ item.title }}</a>
                {% endfor %}
            </div>
        </nav>
        <!-- dummy -->
        <nav class="navigation"></nav>

        <!-- content  -->
        <div class="content">

            <!-- hello -->
            <section class="hello-section has-circle" id="hello">
                <div class="section-content">
                    <div class="section-header has-triangle">
                        <span class="section-prefix">{{ resume.hello.position }}</span>
                        <h1 class="section-title">{{ resume.hello.title }}</h1>
                        {% for p in resume.hello.descriptions %}
                        <p class="section-description">{{ p }}</p>
                        {% endfor %}
                        <span class="buttons-hl">
                            <a href="{{ resume.hello.contact_button.href }}" class="button hello-contact-button">{{ resume.hello.contact_button.title }}</a>
                            <a href="{{ resume.hello.download_button.href }}" class="link download-pdf-link" target="_blank">{{ resume.hello.download_button.title }}</a>
                        </span>
                    </div>
                    <div class="profile-wrapper has-rabbet">
                        <div class="profile">
                            <img class="profile-hero" src="/ljt/assets/hero.png" alt="PROFILE">
                            <div class="profile-bg-wrapper">
                                <div class="profile-bg-bottom"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <span class="next-page">
                    <svg t="1652418327637" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3148" fill="currentColor">
                        <filter id="dropshadow" height="130%">
                            <feGaussianBlur in="SourceAlpha" stdDeviation="10"/> <!-- stdDeviation is how much to blur -->
                            <feOffset dx="2" dy="2" result="offsetblur"/> <!-- how much to offset -->
                            <feComponentTransfer>
                                <feFuncA type="linear" slope="0.2"/> <!-- slope is the opacity of the shadow -->
                            </feComponentTransfer>
                            <feMerge> 
                                <feMergeNode/> <!-- this contains the offset blurred image -->
                                <feMergeNode in="SourceGraphic"/> <!-- this contains the element that the filter is applied to -->
                            </feMerge>
                        </filter>
                        <path d="M472.064 751.552 72.832 352.32c-22.08-22.08-22.08-57.792 0-79.872 22.016-22.016 57.792-22.08 79.872 0L512 631.744l359.296-359.296c22.016-22.016 57.792-22.08 79.872 0 22.08 22.08 22.016 57.792 0 79.872l-399.232 399.232C529.856 773.568 494.144 773.568 472.064 751.552z" p-id="3149" style="filter:url(#dropshadow)"></path>
                    </svg>
                </span>
            </section>

            <!-- portfolio -->
            <section class="portfolio-section" id="portfolio">
                <div class="section-content">
                    <div class="section-header">
                        <span class="section-prefix">Portfolio</span>
                        <h1 class="section-title">{{ resume.portfolio.title }}</h1>
                        {% for p in resume.portfolio.descriptions %}
                        <p class="section-description">{{ p }}</p>
                        {% endfor %}
                    </div>
                    <div class="projects-wrapper">
                        <!-- bg rectangle -->
                        <div class="projects-connect"></div>
                        <div class="projects">
                            {% for project in resume.portfolio.projects %}
                            <!-- project -->
                            <figure class="project">
                                <img src="{{ project.image }}" />
                                <figcaption>
                                    <h3>{{ project.title }}</h3>
                                    {% for p in project.descriptions %}
                                    <p>{{ p }}</p>
                                    {% endfor %}
                                </figcaption>
                                <a href="#"></a>
                            </figure>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </section>

            <!-- capabilities -->
            <section class="capabilities-section has-triangle" id="capabilities">
                <div class="section-content">
                    <div class="section-header">
                        <span class="section-prefix">Capabilities</span>
                        <h1 class="section-title">{{ resume.capabilities.title }}</h1>
                        {% for p in resume.capabilities.descriptions %}
                        <p class="section-description">{{ p }}</p>
                        {% endfor %}
                    </div>

                    <div class="skills">
                        {% for skill in resume.capabilities.skills %}
                        <div class="skill">
                            <div class="skill-icon">
                                <img src="{{ skill.image }}" alt="{{ skill.title }}">
                            </div>
                            <span class="skill-title">{{ skill.title }}</span>
                        </div>
                        {% endfor %}
                    </div>

                </div>
            </section>

            <!-- experiences -->
            <section class="experiences-section has-circle" id="experiences">
                <div class="section-content">
                    <div class="section-header">
                        <span class="section-prefix">Experiences</span>
                        <h1 class="section-title">{{ resume.experiences.title }}</h1>
                        {% for p in resume.experiences.descriptions %}
                        <p class="section-description">{{ p }}</p>
                        {% endfor %}
                    </div>
                    <div class="experiences">
                        {% for exp in resume.experiences.experiences %}
                        <div class="experience">
                            <img src="{{ exp.image }}" alt="COVER" class="experience-cover">
                            <div class="experience-info">
                                <span class="experience-title">{{ exp.title }}</span>
                                <div class="experience-subtitle">
                                    <span class="experience-position label">{{ exp.position }}</span>
                                    <span class="experience-timerange">{{ exp.timerange }}</span>
                                </div>
                                <ul class="experience-detail">
                                    {% for p in exp.descriptions %}
                                    <li class="experience-detail-item">{{ p }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </section>

            <!-- testimonials -->
            <section class="testimonials-section has-triangle" id="testimonials">
                <div class="section-content">
                    <div class="section-header section-header-outter">
                        <span class="section-prefix">Testimonials</span>
                        <h1 class="section-title">{{ resume.testimonials.title }}</h1>
                        {% for p in resume.testimonials.descriptions %}
                        <p class="section-description">{{ p }}</p>
                        {% endfor %}
                    </div>

                    <div class="testimonial-wrapper">
                        <div class="testimonial">
                            <div class="testimonial-header">
                                <img class="testimonial-avatar" src="/ljt/assets/avatar.jpg"/>
                                <div class="testimonial-header-info">
                                    <span class="testimonial-author">{{ resume.testimonials.testimonial.author }}</span>
                                    <span class="testimonial-author-info">{{ resume.testimonials.testimonial.position }} <span class="testimonial-company">@{{ resume.testimonials.testimonial.company }}</span></span>
                                </div>
                            </div>
                            {% for p in resume.testimonials.testimonial.descriptions %}
                            <p class="testimonial-detail">{{ p }}</p>
                            {% endfor %}
                        </div>

                        <div class="testimonial-background-wrapper">
                            <div class="testimonial-background-triangle"></div>
                            <div class="testimonial-background-info">
                                <div class="section-header section-header-inner">
                                    <span class="section-prefix">Testimonials</span>
                                    <h1 class="section-title">{{ resume.testimonials.title }}</h1>
                                </div>
                                <img class="testimonial-background-hero" src="/ljt/assets/hero.png"/>
                            </div>
                        </div>
                    </div>

                </div>
            </section>

            <!-- contact -->
            <section class="contact-section has-circle" id="contact">
                <div class="section-content">
                    <div class="section-header">
                        <span class="section-prefix">Contact</span>
                        <h1 class="section-title">{{ resume.contact.title }}</h1>
                        {% for p in resume.contact.descriptions %}
                        <p class="section-description">{{ p }}</p>
                        {% endfor %}
                        <div class="buttons-hl">
                            <a href="tel:8613418859126" class="button" title="+86 134-1885-9126">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">
                                    <path
                                        d="M511.2 387l-23.25 100.8c-3.266 14.25-15.79 24.22-30.46 24.22C205.2 512 0 306.8 0 54.5c0-14.66 9.969-27.2 24.22-30.45l100.8-23.25C139.7-2.602 154.7 5.018 160.8 18.92l46.52 108.5c5.438 12.78 1.77 27.67-8.98 36.45L144.5 207.1c33.98 69.22 90.26 125.5 159.5 159.5l44.08-53.8c8.688-10.78 23.69-14.51 36.47-8.975l108.5 46.51C506.1 357.2 514.6 372.4 511.2 387z" />
                                </svg>
                                <span>+86 134-1885-9126</span>
                            </a>
                            <a href="mailto:2369940155@qq.com?subject=Hi%20Liu" class="button"
                                title="2369940155@qq.com">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">
                                    <path
                                        d="M501.6 4.186c-7.594-5.156-17.41-5.594-25.44-1.063L12.12 267.1C4.184 271.7-.5037 280.3 .0431 289.4c.5469 9.125 6.234 17.16 14.66 20.69l153.3 64.38v113.5c0 8.781 4.797 16.84 12.5 21.06C184.1 511 188 512 191.1 512c4.516 0 9.038-1.281 12.99-3.812l111.2-71.46l98.56 41.4c2.984 1.25 6.141 1.875 9.297 1.875c4.078 0 8.141-1.031 11.78-3.094c6.453-3.625 10.88-10.06 11.95-17.38l64-432C513.1 18.44 509.1 9.373 501.6 4.186zM369.3 119.2l-187.1 208.9L78.23 284.7L369.3 119.2zM215.1 444v-49.36l46.45 19.51L215.1 444zM404.8 421.9l-176.6-74.19l224.6-249.5L404.8 421.9z" />
                                </svg>
                                <span>2369940155@qq.com</span>
                            </a>
                        </div>
                    </div>
                </div>
            </section>

            <!-- footer -->
            <footer class="footer">
                <span class="copyright">{{ resume.copyright }}</span>
            </footer>
        </div>
    </div>
    <!-- <script>
        // // Menu item active action
        $(document).ready(function() {
            $('.menu-item').on('click', function() {
                $('.menu-item').removeClass("active");
                $(this).addClass("active");
            });
            $('.hello-contact-button').on('click', function() {
                $('.menu-item').removeClass("active");
                $('.menu-item').last().addClass("active");
            });
        });
    </script> -->
</body>

</html>